<section class="experiences">
  <h2>Experiences</h2>

  <div class="languages">
    <img src="assets/icons/theme/{{ iconTheme }}/dev-languages/angular.svg" />

    <img src="assets/icons/theme/{{ iconTheme }}/dev-languages/react.svg" />

    <img
      src="assets/icons/theme/{{ iconTheme }}/dev-languages/javascript.svg"
    />

    <img
      src="assets/icons/theme/{{ iconTheme }}/dev-languages/typescript.svg"
    />

    <img src="assets/icons/theme/{{ iconTheme }}/dev-languages/sass.svg" />

    <img src="assets/icons/theme/{{ iconTheme }}/dev-languages/java.svg" />

    <img src="assets/icons/theme/{{ iconTheme }}/dev-languages/spring.svg" />
  </div>
</section>
