:root .dark-theme {
  --bg-primary: #2c2c2c;
  --bg-secondary: #3f3f3f80;
  --bg-card: #f0f0f0;

  --text-primary: #ffffff;
  --text-secondary: #e6e6e6;
  --text-tertiary: #dbffff;

  --purple-primary: #5222d0;
  --purple-secondary: #8455ff;
  --purple-gradient: linear-gradient(90deg, #5222d0 0%, #ff6196 100%);
}
