<section class="about-me">
  <h2>About me</h2>

  <p>
    Apaixonado pelo desenvolvimento web desde os 18 anos, brasileiro e nascido
    em 2004, sou estudante de Sistemas de Informação na Universidade Cruzeiro do
    Sul. Sou uma pessoa que adora desafios, assim como todo desenvolvedor, mas
    especialmente aqueles que me tiram da minha zona de conforto, pois minhas
    maiores evoluções e aprendizados surgiram de momentos em que me vi obrigado
    a sair dela e enfrentar a vida.
  </p>
</section>
